exercise1/src/main/mule/exercise1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8797f919-5abe-4f4e-99a5-793df02a03a4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="exercise1Flow" doc:id="e335d624-5e17-4f47-a789-b29ec28c176c" >
		<http:listener doc:name="Listener" doc:id="2fb3a725-3a18-4531-b069-2ff2b3fd438e" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="3506f63a-959e-42ff-9508-f1a9d23845a8" />
		<ee:transform doc:name="Transform Message" doc:id="337dbc61-4a49-4138-88fc-f1ffe06d6ca7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var name = attributes.queryParams.name
var date = now() as String {format: "MM-dd-yyyy"}
---
"hello" ++ " " ++ name ++ " welcome to mulesoft, today is " ++ date]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
